body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section {
    width: 60%;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 30px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side, #edeaea 90%, #eeeaea00) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
}

@keyframes l1 {
    to {
        clip-path: inset(0 -34% 0 0)
    }
}

.btn {
    display: flex;
    align-items: center;
}