* {
    margin: 0;
    padding: 0;
}

#bg {
    background-color: orange;
}

body {
    background-color: #3498db;
}

.header {
    background-color: #ecf0f1;
    text-align: center;
    /* height: 20px; */
    /* ye smothness krta hai  */
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;

    /* ye border dyta hai hai  */

    /* width  */
    /* 1px ye btata hai k kitna thickness rkhna hai */

    /* type of border  */
    /* solid */

    /* color of border  */

    border: 1px solid #34495e;
}

.img-wrapper img {
    width: 20px;
    height: 20px;
}

.navigation a {
    text-decoration: none;
    color: red;
}

.form input,
.form button,
.form span {
    border: 2px solid red;
}

.form span {
    color: red;
}

.slider {
    background-image: url("https://images.unsplash.com/photo-1500964757637-c85e8a162699?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmVhdXRpZnVsJTIwbGFuZHNjYXBlfGVufDB8fDB8fHww");
    height: 200px;
    background-size: cover;
    padding: 10px;
    text-align: center;
}

.slider h1 {
    margin-top: 20px;
}

.navigation button {
    border-radius: 20px;
    border: none;
    background-color: #3498db;
    color: white;
    padding: 4px;
    font-size: 12px;
}